extends layout

block content
  nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')
          img(src="/img/logo_white_exp.png", style="display: inline; height: 50px;")
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#home') HOME
          li
            a(href='#product') PRODUCT
          li
            a(href='#specifications') SPECIFICATIONS
  header#home.carousel.slide
    ol.carousel-indicators
      li.active(data-target='#home', data-slide-to='0')
      li(data-target='#home', data-slide-to='1')
      li(data-target='#home', data-slide-to='2')
      li(data-target='#home', data-slide-to='3')
    .carousel-inner
      .item.active
        .fill(style="background-image:url('/img/banner_0.jpg');")
      .item
        .fill(style="background-image:url('/img/banner_1.jpg');")
      .item
        .fill(style="background-image:url('/img/banner_2.jpg');")
      .item
        .fill(style="background-image:url('/img/banner_3.jpg');")
    a.left.carousel-control(href='#home', data-slide='prev')
      span.icon-prev
    a.right.carousel-control(href='#home', data-slide='next')
      span.icon-next
  section
    .row
      .col-md-11.col-md-offset-1
        h2.page-header Why?
      .col-md-6.col-md-offset-1
        p The Modern Business template by Start Bootstrap includes:
        ul
          li
            strong Bootstrap v3.2.0
          li jQuery v1.11.0
          li Font Awesome v4.1.0
          li Working PHP contact form with validation
          li Unstyled page elements for easy customization
          li 17 HTML pages
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.
      .col-md-3.col-md-offset-1
        img.img-responsive(src='http://placehold.it/700x450', alt='')
  section(style="background-color: #f2f2f2;")
    .row
      .col-md-11.col-md-offset-1
        h2.page-header What?
      .col-md-3.col-md-offset-1
        img.img-responsive(src='http://placehold.it/700x450', alt='')
      .col-md-6.col-md-offset-1
        p The Modern Business template by Start Bootstrap includes:
        ul
          li
            strong Bootstrap v3.2.0
          li jQuery v1.11.0
          li Font Awesome v4.1.0
          li Working PHP contact form with validation
          li Unstyled page elements for easy customization
          li 17 HTML pages
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.
  section#specifications
    .row
      .col-md-11.col-md-offset-1
        h1.page-header
          | Product Specifications
      .col-md-4.col-md-offset-1
        .panel.panel-default
          .panel-heading
            h4
              i.fa.fa-fw.fa-database
              |  Base Layer
          .panel-body
            ul
              li
                i.fa.fa-fw.fa-check
                | Powerbank
              li
                i.fa.fa-fw.fa-check
                | Lithium ion, 6000mAh
              li
                i.fa.fa-fw.fa-check
                | 2 USB ports
              li
                i.fa.fa-fw.fa-check
                | Bluetouth, 3.5mm stereo
      .col-md-4.col-md-offset-1
        .panel.panel-default
          .panel-heading
            h4
              i.fa.fa-fw.fa-plug
              |  Battery Layer
          .panel-body
            ul
              li
                i.fa.fa-fw.fa-check
                | Lithium ion, 2400mAh
              li
                i.fa.fa-fw.fa-check
                | USB port
              li
                i.fa.fa-fw.fa-check
                | extra charge
    .row  
      .col-md-4.col-md-offset-1
        .panel.panel-default
          .panel-heading
            h4
              i.fa.fa-fw.fa-music
              |  Speaker Layer
          .panel-body
            ul
              li
                i.fa.fa-fw.fa-check
                | Full-range listening
              li
                i.fa.fa-fw.fa-check
                | Wireless and ultra-compact
              li
                i.fa.fa-fw.fa-check
                | up to 7h of playback time
              li
                i.fa.fa-fw.fa-check
                | 30hz-28khz frequency range
      .col-md-4.col-md-offset-1
        .panel.panel-default
          .panel-heading
            h4
              i.fa.fa-fw.fa-lightbulb-o
              |  Lighting Layer
          .panel-body
            ul
              li
                i.fa.fa-fw.fa-check
                | Ambient light
              li
                i.fa.fa-fw.fa-check
                | Low power LED
              li
                i.fa.fa-fw.fa-check
                | Changeable light color
  section#product(style="background-color: #f2f2f2;")
    .row
      .col-md-3.col-md-offset-2
        img(src="/img/addy_0.png")
        img(ng-src="{{thirdLayer.img}}")
        img(ng-src="{{secondLayer.img}}")
        img(ng-src="{{firstLayer.img}}")
        img(src="/img/addy_4.png")
      .col-md-3
        h1 Customize
        select(ng-model="thirdLayer" ng-options="layer.name for layer in layers track by layer.name", ng-change="changeLayer(11)")
          option(value="") select 3rd layer
        select(ng-model="secondLayer" ng-options="layer.name for layer in layers track by layer.name", ng-change="changeLayer(11)")
          option(value="") select 2nd layer
        select(ng-model="firstLayer" ng-options="layer.name for layer in layers track by layer.name", ng-change="changeLayer(11)")
          option(value="") select 1st layer
      .col-md-3
        h1 Total Price
        h2 €{{ totalPrice }}
        button.btn.btn-success.btn-lg Order
  footer
    .row
      .col-md-11
        p Copyright © Addy 2015